<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>reservation</title>
</head>
<body>

<h1>회의실 예약</h1>
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<table border="1" style="border-collapse: collapse;">
    <tr>
        <th>회의실</th>
        <td th:text="${room.name}"></td>
    </tr>

    <tr>
        <th>수용 인원</th>
        <td th:text="${room.capacity}"></td>
    </tr>
</table>

<br>

<form action="/reservation" method="post">

    <!-- 어느 회의실인지 같이 전송 -->
    <input type="hidden" name="roomId" th:value="${room.id}">

    <div>
        <label>예약 날짜</label>
        <input type="date" name="reserveDate" required>
    </div>

    <br>

    <div>
        <label>시작 시간</label>
        <input type="time" name="startTime" required>
    </div>

    <br>

    <div>
        <label>종료 시간</label>
        <input type="time" name="endTime" required>
    </div>

    <br>

    <button type="reset">초기화</button>
    <button type="submit">예약하기</button>
</form>

<br>

<h2>예약 현황</h2>

<table border="1" style="border-collapse: collapse;">
    <tr>
        <th>예약일</th>
        <th>시작</th>
        <th>종료</th>
        <th>예약자</th>

    </tr>

    <tr th:each="r : ${reservations}">
        <td th:text="${r.reserveDate}"></td>
        <td th:text="${r.startTime}"></td>
        <td th:text="${r.endTime}"></td>
        <td th:text="${r.username}"></td>

    </tr>
</table>


<a href="/">메인으로</a>

</body>
</html>